.top-page
  .top-page__main
    .top-page__main__info
      .top-page__main__info__titel
        %P -INFORMATION-
      %ul
        %li
          %table
            %tr
              %th 工事内容
            %tr
              %td 恵那大橋修繕工事
            %tr{:align => "right"}
              %td 
                = link_to '詳細へ >','#'
        %li
          %table
            %tr
              %th 受注会社
            %tr
              %td 株式会社&nbsp;竹橋建設
            %tr{:align => "right"}
              %td 
                = link_to '詳細へ >','#'
        %li
          %table
            %tr
              %th 労災保険関係成立票
            %tr
              %td ◯◯-◯-◯◯-◯◯◯◯◯◯-◯◯◯
            %tr{:align => "right"}
              %td 
                = link_to '詳細へ >','#'
        %li
          %table
            %tr
              %th 発注者
            %tr
              %td 恵那市役所建設部建設課
            %tr{:align => "right"}
              %td 
                = link_to '詳細へ >','#'
        %li
          %table
            %tr
              %th 工程
            %tr
              %td 着工予定&nbsp;令和2年3月10日
            %tr{:align => "right"}
              %td 
                = link_to '詳細へ >','#'

    .top-page__main__form
      = form_with class: "top-page__main__form__slogan" do |f|
        .top-page__main__form__title
          %p -今月の安全スローガン-
          = f.text_field placeholder:'例）メルカリ太郎', class: "top-page__main__form__input", value: 'ヨシ！！'
    .top-page__main__ky
      .top-page__main__ky__title
        %p -危険予知-
      .top-page__main__ky__text
    .top-page__main__etc
      .top-page__main__etc__emergency-contact