.signin
  =render "signup/header"

  .signin__main
    .signin__main__section
      .signin__main__section__top
        アカウントをお持ちでない方はこちら
      = link_to step1_companies_path do
        .signin__main__section__bottom
          新規会員登録
    .signin__main__conect
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %ul.signin__main__conect__lists
          %li.signin__main__conect__lists__input
            = f.email_field :email, autocomplete: "email", class:'input_box1',placeholder:'メールアドレス'
          %li.signin__main__conect__lists__input
            = f.password_field :password, autocomplete: "new-password", class:'input_box2',placeholder:'パスワード'

          = f.submit 'ログイン', class: "submit_btn"

  =render "home/footer"
